

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth/login.css' %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/arima-koshi" type="text/css"/>
    
</head>
<body>
    <main>
        
        <form method="post">

            {% csrf_token %}
            <h1 class="titulo">Modificar Anime</h1>
            <div class="form__group field">
                <input class="form__field"  type="text" name="nombre" value="{{ tarjeta.nombre }}" required=""><br>
                <label for="nombre" class="form__label">Nombre</label>
            </div>
            <br>

            <div class="form__group field">
                <input name="imagen" type="input" class="form__field" placeholder="Url" >
                <input class="form__field" type="text" name="imagen" value="{{ tarjeta.imagen }}" required=""><br>
                <label for="imagen" class="form__label">Url de la Imagen</label>
            </div>
            <br>


            <input class="boton" type="submit" value="Guardar">
        </form>
    </main>

</body>

</html>